name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs every 5 min
    - cron: "*/5 * * * *"

jobs:
  update-readme:
    name: Update WakaTime info on readme
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
